@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v15/1Ptgg87LROyAm3Kz-C8.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
:root {
  --gray: #6c757d;
  --light: #f8f9fa;
  --white: #fff;
  --dark: #212529;
  --black: #000;
  --transparent-black: #0001;
  --transparent-white: #fff5;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --snake-color: #7367f0;
  --snake-shadow-color: #00ff70;
}

html {
  --background-color: var(--black);
  --color: var(--white);

  box-sizing: border-box;
  letter-spacing: 0.1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

/* --------------------------------- */
/* Global */
/* --------------------------------- */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Anton', 'Courier New', Courier, monospace;
  background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
  /* background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%); */
}

/* --------------------------------- */
/* Header */
/* --------------------------------- */

header {
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 0.5em 1em var(--transparent-black);
  background-color: var(--color);
}

.header__title {
  margin: 0em 0;
  font-size: 2em;
}

.header__description {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

/* --------------------------------- */
/* Game field */
/* --------------------------------- */

.game-field {
  width: 40em;
  height: 40em;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  column-gap: 0.3em;
  row-gap: 0.3em;
  border-radius: 1em;
}

.game-field .block {
  border-radius: 1em;
  box-shadow: 0 0 1em var(--transparent-black);
  background-color: var(--color);
}

.game-field .block.snake-head {
  position: relative;
  border-radius: 1.4em;
  transform: scale(0.9);
  box-shadow: inset 0 0 1em var(--dark);
  background-color: var(--snake-color);
}

.game-field .block.snake-head::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 40%;
  border-radius: inherit;
  background-color: var(--color);
}

.game-field .block.snake {
  box-shadow: 0 0 1em var(--transparent-black);
  background-color: var(--snake-color);
}

/* --------------------------------- */
/* Footer */
/* --------------------------------- */

footer {
  width: 100%;
  text-align: center;
}

.copyright {
  font-size: 0.9em;
  opacity: 0.5;
}
